//Colores Utilizados

$primaryOne : hsl(200, 78%, 37%);
$primaryTwo : hsl(223, 79%, 46%);
$primaryThree : hsl(342, 89%, 37%);
$primaryFour : hsl(160, 74%, 34%);
$primaryFive : hsl(0, 0%, 16%);
$primarySix : hsl(0, 0%, 29%);
$primarySeven : hsl(0, 0%, 100%);
$primaryEight : #113AA2;